* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: white;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  
}

header {
  background-color: royalblue;
  padding: 1em 0;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}

footer {
  background-color: lightcoral;
  padding: 1em 0;
  text-align: center;
}

main {
  max-width: 90%;
  text-align: center;

}

.search{
    margin-top: 40px;
}